body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #71E26E;
    color: #333;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    flex: 0 0 80%;
}

#quoteBtn {
    border: none;
    color: #f5f5f5;
    background: #9BD885;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    outline: none;
}

#quoteBtn:hover {
    color: #333;
}

#quoteBtn:active {
    color: #fff;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #2AF06F;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quoteAuthor {
    color: #0591D2;

}